table {
    text-align: center;
    width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

tr {
    height: 30px;
    background-clip: text; /*Для совместимости*/
    background: linear-gradient(to right, #ff0055, purple ); /* Задаем градиент */
    -webkit-background-clip: text; /* Обрезаем фон по тексту */
    -webkit-text-fill-color: transparent; /* Делаем текст прозрачным */
}



html { 
    background-image: linear-gradient(to right, rgb(125, 19, 19), rgb(19, 19, 125)) /*слева красный переливается с синим справа, создавая фиолетовый*/
}

.first {
    background-image: radial-gradient(circle, #0000, #0000/*rgba=red,green,blue,alpha-прозрачность*/, #bbbbbb); /*Прозрачный в центре, белый вокруг*/
}

.second {
    background-image: radial-gradient(circle, #0000, #0000, #bbbbbb);
}