h1{ /*вызываю элемент из html, чтобы его изменить*/
    color:#FF0033; /*цвет*/
    font-size: 36px; /*размер шрифта*/
    text-align: center; /*местоположение строчки*/
}

body{
    font-size: 20px;
}

.box1{
    height: 29px;
    padding: 10px;
    border: 2px solid skyblue; 
    background-color: coral;
    text-align: center;
    font-size: 27px;
    color:green
}

.вкус {
    display: inline;
    position: relative;
    left: 930px;
    bottom: 35px;
    border: 2px solid #FF0000;
    padding: 10px;
    background-color: black;
    color: #ff0055;
}
/*background-image: radial-gradient(circle, red, blue)*/